[submodule "third_party/MMDVM-IQ"]
	path = third_party/MMDVM-IQ
	url = https://github.com/g4klx/MMDVM-IQ.git
[submodule "third_party/MMDVM-Host"]
	path = third_party/MMDVM-Host
	url = https://github.com/g4klx/MMDVM-Host.git
